@model DAL.Models.VehicleInspection

@{
    ViewData["Title"] = "Details";
}

<div class="container mt-5">
    <div class="container-border-custom mb-2">
        <div class="table-responsive">
            <div id="dataTable_wrapper" class="dataTables_wrapper">
                <div class="col-sm-12">
                    <div class="col-sm-12">
                        <div>
                            <h4>Inspección Vehicular</h4>
                            <hr />
                            <div class="row">
                                <div class="col-sm-2">
                                    <dt>@Html.DisplayNameFor(model => model.InspectorName):</dt>
                                </div>
                                <div class="col-sm-8">
                                    <dd>@Html.DisplayFor(model => model.InspectorName)</dd>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-2">
                                    <dt>@Html.DisplayNameFor(model => model.Kilometraje):</dt>
                                </div>
                                <div class="col-sm-10">
                                    <dd>@Html.DisplayFor(model => model.Kilometraje)</dd>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-2">
                                    <dt>@Html.DisplayNameFor(model => model.InspectionDate):</dt>
                                </div>
                                <div class="col-sm-10">
                                    <dd>@Html.DisplayFor(model => model.InspectionDate)</dd>
                                </div>
                            </div>

                            <table class="table table-bordered">
                                <thead>
                                    <tr>
                                        <th class="th-bg-custom">Parte</th>
                                        <th class="th-bg-verify">Verificado</th>
                                        <th class="th-bg-fails">Presenta Fallos</th>
                                        <th class="th-bg-notverify">Sin Verificar</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>@Html.DisplayNameFor(model => model.Engine)</td>
                                        <td class="text-center">
                                            <input type="checkbox" style="width:20px; height:20px;"
                                            @(Model.Engine == "Verificado" ? "checked" : "") disabled />
                                        </td>
                                        <td class="text-center">
                                            <input type="checkbox" style="width:20px; height:20px"
                                            @(Model.Engine == "Presenta Fallos" ? "checked" : "") disabled />
                                        </td>
                                        <td class="text-center">
                                            <input type="checkbox" style="width:20px; height:20px"
                                            @(Model.Engine == "Sin Verificar" ? "checked" : "") disabled />
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>@Html.DisplayNameFor(model => model.Brakes)</td>
                                        <td class="text-center">
                                            <input type="checkbox" style="width:20px; height:20px" @(Model.Brakes == "Verificado" ? "checked" : "") disabled />
                                        </td>
                                        <td class="text-center">
                                            <input type="checkbox" style="width:20px; height:20px" @(Model.Brakes == "Presenta Fallos" ? "checked" : "") disabled />
                                        </td>
                                        <td class="text-center">
                                            <input type="checkbox" style="width:20px; height:20px" @(Model.Brakes == "Sin Verificar" ? "checked" : "") disabled />
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>@Html.DisplayNameFor(model => model.Lights)</td>
                                        <td class="text-center">
                                            <input type="checkbox" style="width:20px; height:20px"
                                            @(Model.Lights == "Verificado" ? "checked" : "") disabled />
                                        </td>
                                        <td class="text-center">
                                            <input type="checkbox" style="width:20px; height:20px"
                                            @(Model.Lights == "Presenta Fallos" ? "checked" : "") disabled />
                                        </td>
                                        <td class="text-center">
                                            <input type="checkbox" style="width:20px; height:20px"
                                            @(Model.Lights == "Sin Verificar" ? "checked" : "") disabled />
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>@Html.DisplayNameFor(model => model.Steering)</td>
                                        <td class="text-center">
                                            <input type="checkbox" style="width:20px; height:20px"
                                            @(Model.Steering == "Verificado" ? "checked" : "") disabled />
                                        </td>
                                        <td class="text-center">
                                            <input type="checkbox" style="width:20px; height:20px"
                                            @(Model.Steering == "Presenta Fallos" ? "checked" : "") disabled />
                                        </td>
                                        <td class="text-center">
                                            <input type="checkbox" style="width:20px; height:20px"
                                            @(Model.Steering == "Sin Verificar" ? "checked" : "") disabled />
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>@Html.DisplayNameFor(model => model.Tires)</td>
                                        <td class="text-center">
                                            <input type="checkbox" style="width:20px; height:20px"
                                            @(Model.Tires == "Verificado" ? "checked" : "") disabled />
                                        </td>
                                        <td class="text-center">
                                            <input type="checkbox" style="width:20px; height:20px"
                                            @(Model.Tires == "Presenta Fallos" ? "checked" : "") disabled />
                                        </td>
                                        <td class="text-center">
                                            <input type="checkbox" style="width:20px; height:20px"
                                            @(Model.Tires == "Sin Verificar" ? "checked" : "") disabled />
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>@Html.DisplayNameFor(model => model.Suspension)</td>
                                        <td class="text-center">
                                            <input type="checkbox" style="width:20px; height:20px"
                                            @(Model.Suspension == "Verificado" ? "checked" : "") disabled />
                                        </td>
                                        <td class="text-center">
                                            <input type="checkbox" style="width:20px; height:20px"
                                            @(Model.Suspension == "Presenta Fallos" ? "checked" : "") disabled />
                                        </td>
                                        <td class="text-center">
                                            <input type="checkbox" style="width:20px; height:20px"
                                            @(Model.Suspension == "Sin Verificar" ? "checked" : "") disabled />
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>@Html.DisplayNameFor(model => model.ElectricalSystem)</td>
                                        <td class="text-center">
                                            <input type="checkbox" style="width:20px; height:20px"
                                            @(Model.ElectricalSystem == "Verificado" ? "checked" : "") disabled />
                                        </td>
                                        <td class="text-center">
                                            <input type="checkbox" style="width:20px; height:20px"
                                            @(Model.ElectricalSystem == "Presenta Fallos" ? "checked" : "") disabled />
                                        </td>
                                        <td class="text-center">
                                            <input type="checkbox" style="width:20px; height:20px"
                                            @(Model.ElectricalSystem == "Sin Verificar" ? "checked" : "") disabled />
                                        </td>
                                    </tr>
                                </tbody>
                            </table>

                            <div class="row">
                                <div class="col-md-6">
                                    <div class="row">
                                        <div class="col-sm-4">
                                            <dt>@Html.DisplayNameFor(model => model.OilChange):</dt>
                                        </div>
                                        <div class="col-sm-4">
                                            <dd>
                                                @if (Model.OilChange == 1)
                                                {
                                                    <text>Realizado</text>
                                                }
                                                else if (Model.OilChange == 0)
                                                {
                                                    <text>Sin Realizar</text>
                                                }
                                            </dd>
                                        </div>
                                    </div>
                                    @if (Model.OilChange == 1)
                                    {
                                        <div class="row">
                                            <div class="col-sm-4">
                                                <dt>@Html.DisplayNameFor(model => model.DatePerformed):</dt>
                                            </div>
                                            <div class="col-sm-4">
                                                <dd>@Html.DisplayFor(model => model.DatePerformed)</dd>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-sm-4">
                                                <dt>@Html.DisplayNameFor(model => model.OilChangeKilometraje):</dt>
                                            </div>
                                            <div class="col-sm-4">
                                                <dd>@Html.DisplayFor(model => model.OilChangeKilometraje)</dd>
                                            </div>
                                        </div>
                                    }
                                </div>

                                <div class="col-md-6">
                                    <div class="row">
                                        <div class="col-sm-12">
                                            <dt>@Html.DisplayNameFor(model => model.Recommendations):</dt>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-12">
                                            @if (Model.Recommendations == null)
                                            {
                                                <p>Sin recomendaciones técnicas</p>
                                            }
                                            else
                                            {
                                                <p style="border: 1px solid #ccc; padding: 10px; width: 100%; height: 90px">
                                                    @Html.DisplayFor(model => model.Recommendations)
                                                </p>
                                            }
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <br />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
