@model DAL.Models.VehicleInspection

@{
    ViewData["Title"] = "Details";
}

<h2 class="mt-3" style="text-align:center;">Detalles de la Inspección</h2>

<div>
    <h4>Vehicle Inspection</h4>
    <hr />
    <ul class="list-group">
        <li class="list-group-item d-flex justify-content-between align-items-center">
            <strong>@Html.DisplayNameFor(model => model.InspectorName):</strong>
            <span>@Html.DisplayFor(model => model.InspectorName)</span>
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-center">
            <strong>@Html.DisplayNameFor(model => model.InspectionDate):</strong>
            <span>@Html.DisplayFor(model => model.InspectionDate)</span>
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-center">
            <strong>@Html.DisplayNameFor(model => model.Engine):</strong>
            <span>@Html.DisplayFor(model => model.Engine)</span>
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-center">
            <strong>@Html.DisplayNameFor(model => model.Brakes):</strong>
            <span>@Html.DisplayFor(model => model.Brakes)</span>
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-center">
            <strong>@Html.DisplayNameFor(model => model.Lights):</strong>
            <span>@Html.DisplayFor(model => model.Lights)</span>
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-center">
            <strong>@Html.DisplayNameFor(model => model.Steering):</strong>
            <span>@Html.DisplayFor(model => model.Steering)</span>
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-center">
            <strong>@Html.DisplayNameFor(model => model.Tires):</strong>
            <span>@Html.DisplayFor(model => model.Tires)</span>
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-center">
            <strong>@Html.DisplayNameFor(model => model.Suspension):</strong>
            <span>@Html.DisplayFor(model => model.Suspension)</span>
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-center">
            <strong>@Html.DisplayNameFor(model => model.ElectricalSystem):</strong>
            <span>@Html.DisplayFor(model => model.ElectricalSystem)</span>
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-center">
            <strong>@Html.DisplayNameFor(model => model.OilChange):</strong>
            <span>@Html.DisplayFor(model => model.OilChange)</span>
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-center">
            <strong>@Html.DisplayNameFor(model => model.DatePerformed):</strong>
            <span>@Html.DisplayFor(model => model.DatePerformed)</span>
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-center">
            <strong>@Html.DisplayNameFor(model => model.NextChangeDue):</strong>
            <span>@Html.DisplayFor(model => model.NextChangeDue)</span>
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-center">
            <strong>@Html.DisplayNameFor(model => model.VehicleId):</strong>
            <span>@Html.DisplayFor(model => model.VehicleId)</span>
        </li>
    </ul>
</div>
@*
<div>
    <h4>VehicleInspection</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.InspectorName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.InspectorName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.InspectionDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.InspectionDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Engine)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Engine)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Brakes)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Brakes)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Lights)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Lights)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Steering)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Steering)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Tires)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Tires)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Suspension)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Suspension)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ElectricalSystem)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ElectricalSystem)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OilChange)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OilChange)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DatePerformed)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DatePerformed)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NextChangeDue)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NextChangeDue)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.VehicleId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.VehicleId)
        </dd>
    </dl>
</div>
*@
