@model IEnumerable<DAL.Models.VehicleInspection>

@{
    ViewData["Title"] = "Index";
}

<div class="container mt-5">
    <h2 style="text-align:center;">Historial de los resultados de las Inspecciones 
        <br>del Vehículo  @ViewBag.vehiclePlate<br />
    </h2>
    <div class="mb-2">
        <a asp-action="Create" asp-route-vehicleId="@ViewBag.vehicleId" class="btn btn-agree">Nueva Inspección 
            <i class=" ms-1 fa-solid fa-file-lines"></i>
        </a>
    </div>
    <div class="container-border-custom mb-2">
        <div class="table-responsive">
            <div id="dataTable_wrapper" class="dataTables_wrapper">
                <div class="col-sm-12">
                    <div class="col-sm-12">

                        <table id="myDataTable" class="table table-bordered dataTable" style="width: 100%;">

                            <thead>

                                <tr>
                                    <th class="th-bg-custom">Numero de Inspección</th>
                                    <th class="th-bg-custom">Fecha</th>
                                    <th class="th-bg-custom">Inspector</th>
                                    <th class="th-bg-custom">Acciones</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td class="text-center align-middle">
                                            @Html.DisplayFor(modelItem => item.VehicleInspectionId)
                                        </td>
                                        <td class="text-center align-middle">
                                            @Html.DisplayFor(modelItem => item.InspectionDate)
                                        </td>
                                        <td class="text-center align-middle">
                                            @Html.DisplayFor(modelItem => item.InspectorName)
                                        </td>                                       
                                        <td class="text-center align-middle">

                                            <a class="btn btn-modify" asp-action="Edit" asp-route-id="@item.VehicleInspectionId">Editar</a> 
                                            <a class="btn btn-primary" asp-action="Details" asp-route-id="@item.VehicleInspectionId">Detalles</a>
                                            <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.VehicleInspectionId">Delete</a>
                                           @*<button type="button" class="btn btn-inactive AbrirModal" data-bs-toggle="modal" data-bs-target="#exampleModal"
                                                    data-id="@item.VehicleInspectionId" style="font:bold;font-size:18px">
                                                    Eliminar
                                            </button>*@
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="~/estilos/js/jquery-1.11.0.min.js"></script>
<script>
    $(document).ready(function () {
        $('#myDataTable').DataTable({
            "language": {
                "url": "https://cdn.datatables.net/plug-ins/1.10.24/i18n/Spanish.json"
            },
            "info": false
        });

    /*$(".AbrirModal").click(function () {
        var vehicleId = $(this).attr("data-id");
        $("#VehicleId").val(vehicleId);
        $("#confirmDeleteButton").attr("href", "/Vehicles/Delete/" + vehicleId);
    });*/
</script>
