@model IEnumerable<DAL.Models.Product>

@{
    ViewData["Title"] = "Lista de Productos";
}
<link href="~/estilos/css/custom.css" rel="stylesheet" />

<div class="container py-5">
    <div class="row justify-content-center">
        <div class="col-12 text-center mb-2">
            <h2 class="text-center mb-3">Productos</h2>
        </div>
        @if (TempData["Message"] != null)
        {
            <div class="alert alert-success alert-dismissible fade show" role="alert">
                @TempData["Message"]
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        }
        @if (TempData["MenasajeExito"] != null)
        {
            <div class="alert alert-success alert-dismissible fade show" role="alert">
                @TempData["MenasajeExito"]
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        }
        @if (TempData["MenasajeError"] != null)
        {
            <div class="alert alert-danger alert-dismissible fade show" role="alert">
                @TempData["MenasajeError"]
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        }
    </div>

    <!-- Buscador -->
    <div class="search-bar">
        <i class="fa fa-search search-icon"></i>
        <input type="text" id="searchInput" class="search-input" placeholder="Buscar productos...">
    </div>

    <div class="product-grid" id="productGrid">
        @foreach (var producto in Model)
        {
            <div class="flip-card">
                <div class="flip-card-inner">
                    <!-- Parte frontal de la tarjeta -->
                    <div class="flip-card-front">
                        @if (producto.ImageProduct != null && producto.ImageProduct.Length > 0)
                        {
                            <img alt="Imagen" src="data:image/jpeg;base64,@(Convert.ToBase64String(producto.ImageProduct))" />
                        }
                        else
                        {
                            <span>Sin imagen</span>
                        }
                    </div>

                    <!-- Parte trasera de la tarjeta -->
                    <div class="flip-card-back">
                        @if (producto.Stock > 0 && producto.StateProdc)
                        {
                            <div class="product-name">@producto.ProductName</div>
                            <div class="product-price">₡@producto.Price</div>
                            @using (Html.BeginForm("AddToCart", "Products", FormMethod.Post))
                            {
                                <input type="hidden" name="ProductId" value="@producto.ProductId" />
                                <input type="hidden" name="Quantity" class="form-control" value="1">
                                <input type="hidden" name="Stock" class="form-control" value="@producto.Stock">
                                <button type="submit" class="add-to-cart-btn"><i class="fa-solid fa-cart-plus me-2"></i>Agregar al Carrito</button>
                            }
                        }
                        else
                        {
                            <div class="product-unavailable">
                                <i class="fas fa-exclamation-circle"></i>
                                <span>Producto no disponible</span>
                            </div>
                        }
                    </div>
                </div>
            </div>
        }
    </div>
    </script>
    <!-- Script para el buscador -->
    <script>
        document.getElementById('searchInput').addEventListener('input', function () {
            var searchValue = this.value.toLowerCase();
            var products = document.querySelectorAll('.flip-card');

            products.forEach(function (product) {
                var productName = product.querySelector('.product-name').innerText.toLowerCase();
                if (productName.includes(searchValue)) {
                    product.style.display = 'flex';
                } else {
                    product.style.display = 'none';
                }
            });
        });
    </script>

</div>
