@model IEnumerable<DAL.Models.Product>

@{
    ViewData["Title"] = "Lista de Productos";
}

</style>

<div class="container py-5">
    <div class="row justify-content-center">
        <div class="col-12">
            <h2 class="text-center mb-4" style="font-size: 28px; font-weight: 600; color: #333;">─ Productos ─</h2>
            @if (TempData["Message"] != null)
            {
                <div class="alert alert-success alert-dismissible fade show" role="alert">
                    @TempData["Message"]
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
            }
            @if (TempData["MenasajeExito"] != null)
            {
                <div class="alert alert-success alert-dismissible fade show" role="alert">
                    @TempData["MenasajeExito"]
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
            }
            @if (TempData["MenasajeError"] != null)
            {
                <div class="alert alert-danger alert-dismissible fade show" role="alert">
                    @TempData["MenasajeError"]
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
            }
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-lg-9">
            <div class="row">
                @foreach (var producto in Model)
                {
                    <div class="col-md-4">
                        <div class="card mb-4 product-wap rounded-0">
                            <div class="card rounded-0">
                                <div class="card-img-container">
                                    @if (producto.ImageProduct != null && producto.ImageProduct.Length > 0)
                                    {
                                        <img class="card-img rounded-0 img-fluid" alt="Imagen" src="data:image/jpeg;base64,@(Convert.ToBase64String(producto.ImageProduct))" />
                                    }
                                    else
                                    {
                                        <span>Sin imagen</span>
                                    }
                                </div>
                                <div class="card-img-overlay rounded-0 product-overlay d-flex align-items-center justify-content-center">
                                    <ul class="list-unstyled">
                                        <li>
                                            @using (Html.BeginForm("AddToCart", "Products", FormMethod.Post))
                                            {
                                                <input type="hidden" name="ProductId" value="@producto.ProductId" />
                                                <input type="hidden" name="Quantity" class="form-control" value="1">
                                                <input type="hidden" name="Stock" class="form-control" value="@producto.Stock">
                                                <button type="submit" class="btn btn-AddCart mt-2"><i class="fa-solid fa-cart-plus"></i></button>
                                            }
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="card-body">
                                <a href="shop-single.html" class="h3 text-decoration-none">@producto.ProductName</a>
                                <ul class="w-100 list-unstyled justify-content">
                                    <p class="mb-0" style="font-size:20px!important;"> ₡@producto.Price</p>
                                </ul>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>
