@model IEnumerable<DAL.Models.Product>

@{
    ViewData["Title"] = "AdminProductos";
}

<link href="~/estilos/css/custom.css" rel="stylesheet" />

<div class="container mt-3">
    <h2>Administración de Productos</h2>
    <p>Apartado para agregar, modificar y eliminar los productos disponibles en el carrito de compras de TodoFrenos</p>
    <div class="container-border-custom mb-2">
        <div class="table-responsive">
            <table class="table table-bordered">
                <div>
                    <a class="btn btn-agree mb-1" style="font-weight:bold" href="@Url.Action("Create", "Products")">Agregar Producto</a>
                </div>
                <thead>
                    <tr>
                        <th class="th-bg-custom">
                            @Html.DisplayNameFor(model => model.Category)
                        </th>
                        <th class="th-bg-custom">
                            @Html.DisplayNameFor(model => model.ProductName)
                        </th>
                        <th class="th-bg-custom">
                            @Html.DisplayNameFor(model => model.Price)
                        </th>
                        <th class="th-bg-custom">
                            @Html.DisplayNameFor(model => model.Stock)
                        </th>
                        <th class="th-bg-custom">Estado</th>
                        <th class="th-bg-custom">
                            @Html.DisplayNameFor(model => model.ImageProduct)
                        </th>
                        <th class="th-bg-custom">Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td class="text-center align-middle">
                                @Html.DisplayFor(modelItem => item.Category.CategoryName)
                            </td>
                            <td class="text-center align-middle">
                                @Html.DisplayFor(modelItem => item.ProductName)
                            </td>
                            <td class="text-center align-middle">
                                @Html.DisplayFor(modelItem => item.Price)
                            </td>
                            <td class="text-center align-middle">
                                @Html.DisplayFor(modelItem => item.Stock)
                            </td>
                            <td class="text-center align-middle">
                                @(item.StateProdc ? "Activo" : "Inactivo")
                            </td>
                            <td class="d-flex justify-content-center">
                                @if (item.ImageProduct != null && item.ImageProduct.Length > 0)
                                {
                                    <img alt="Imagen" src="data:image/jpeg;base64,@(Convert.ToBase64String(item.ImageProduct))" width="120" height="120" />
                                }
                                else
                                {
                                    <span>Sin imagen</span>
                                }
                            </td>
                            <td class="text-center align-middle">
                                <div class="d-flex flex-column align-items-center">
                                    <a class="btn btn-modify btn-action" href="@Url.Action("Edit", new { id = item.ProductId })">Editar</a>
                                    

                                    @if (item.StateProdc != false)
                                    {
                                        <button type="button" class="btn btn-inactive AbrirModal btn-action" data-bs-toggle="modal" data-bs-target="#exampleModal"
                                                data-id="@item.ProductId" style="font:bold;font-size:18px">
                                            Inactivar
                                        </button>
                                    }

                                    @if (item.StateProdc != true)
                                    {
                                        <a class="btn btn-active-custom btn-action" href="@Url.Action("Activate","Products", new { id = @item.ProductId })">Activar</a>
                                    }


                                </div>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>


<script src="~/estilos/js/jquery-1.11.0.min.js"></script>
<script>
    $(document).ready(function () {
        $('#myDataTable').DataTable({
            "language": {
                "url": "https://cdn.datatables.net/plug-ins/1.10.24/i18n/Spanish.json"
            },
            "info": false
        });
    });

    $(".AbrirModal").click(function () {
        var productId = $(this).attr("data-id");
        $("#ProductId").val(productId);
        $("#confirmDeleteButton").attr("href", "/Products/Delete/" + productId);
    });

</script>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header" style="background-color:#800000;">
                <h5 class="modal-title text-white" id="exampleModalLabel">
                    <i class="bi bi-exclamation-circle text-white"></i>
                    Confirmación
                </h5>
                <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body text-center">
                ¿Desea inactivar el producto seleccionado?
            </div>
            <div class="modal-footer justify-content-center">
                <input type="hidden" id="ProductId" name="id" value="" />
                <a id="confirmDeleteButton" href="#" class="btn btn-agree">
                    <i class="bi bi-toggle-off"></i> Confirmar
                </a>
            </div>
        </div>
    </div>
</div>

<link href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css" rel="stylesheet">