@model DAL.Models.DetallesNomina

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>DetallesNomina</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SalarioBase)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SalarioBase)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Semanal)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Semanal)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Mensual)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Mensual)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Diario)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Diario)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Hora)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Hora)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CantidadHoras)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CantidadHoras)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HorasExtra)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HorasExtra)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CantidadHorasExtra)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CantidadHorasExtra)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Ccss)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Ccss)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Vales)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Vales)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Pago)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Pago)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Estado)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Estado)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Empleado)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Empleado.Nombre)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nomina)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nomina.FechaCreacion)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.DetalleId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
