@model IEnumerable<DAL.Models.DetallesNomina>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>
@if (TempData["MenasajeExito"] != null)
{
    <div class="alert alert-success alert-dismissible fade show" role="alert">
        @TempData["MenasajeExito"]
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
}
<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.SalarioBase)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Semanal)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Mensual)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Diario)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Hora)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CantidadHoras)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HorasExtra)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CantidadHorasExtra)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Ccss)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Vales)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Pago)
            </th>
            <th class="th-bg-custom">Estado</th>
            <th>
                @Html.DisplayNameFor(model => model.Empleado)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nomina)
            </th>
            <th class="th-bg-custom">Acciones</th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.SalarioBase)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Semanal)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Mensual)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Diario)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Hora)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CantidadHoras)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HorasExtra)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CantidadHorasExtra)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Ccss)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Vales)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Pago)
            </td>
                <td class="text-center align-middle">
                    @(item.Estado ? "Activo" : "Inactivo")
                </td>
            <td>
                    @Html.DisplayFor(modelItem => item.Empleado.Nombre)
            </td>
            <td>
                    @Html.DisplayFor(modelItem => item.Nomina.FechaCreacion)
            </td>
                <td class="text-center align-middle">
                    <div class="d-flex flex-column align-items-center">
                        <a class="btn btn-modify mb-2" href="@Url.Action("Edit", new { id = item.DetalleId })">Modificar</a>


                        @if (item.Estado != false)
                        {
                            <a class="btn btn-active-custom" href="@Url.Action("Delete","DetallesNominas", new { id = @item.DetalleId })">Desactivar</a>
                        }

                        @if (item.Estado != true)
                        {
                            <a class="btn btn-active-custom" href="@Url.Action("Activate","DetallesNominas", new { id = @item.DetalleId })">Activar</a>
                        }


                    </div>
                </td>
        </tr>
}
    </tbody>
</table>


<script src="~/estilos/js/jquery-1.11.0.min.js"></script>
