@model IEnumerable<DAL.Models.DetallesNomina>

@{
    ViewData["Title"] = "Detalles de Nómina";
    var successMessage = TempData["MensajeExito"] as string;
}

<div class="container mt-5">
    <h2 style="text-align:center;">Detalles de Nómina</h2>

    @if (!string.IsNullOrEmpty(successMessage))
    {
        <div class="alert alert-success alert-dismissible fade show" role="alert">
            @successMessage
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Cerrar"></button>
        </div>
    }

    <div class="mb-2">
        <a asp-action="Create" class="btn btn-agree mb-1">
            Crear Nuevo
            <i class="ms-1 fa-solid fa-file-lines"></i>
        </a>
    </div>

    <div class="container-border-custom mb-2">
        <div class="table-responsive">
            <div id="dataTable_wrapper" class="dataTables_wrapper">
                <div class="col-sm-12">
                    <div class="col-sm-12">
                        <table id="myDataTable" class="table table-bordered dataTable" style="width: 100%;">
                            <thead>
                                <tr>
                                    <th class="th-bg-custom">Semanal</th>
                                    <th class="th-bg-custom">Mensual</th>
                                    <th class="th-bg-custom">Diario</th>
                                    <th class="th-bg-custom">Hora</th>
                                    <th class="th-bg-custom">Cantidad de Horas</th>
                                    <th class="th-bg-custom">Horas Extra</th>
                                    <th class="th-bg-custom">Cantidad de Horas Extra</th>
                                    <th class="th-bg-custom">CCSS</th>
                                    <th class="th-bg-custom">Vales</th>
                                    <th class="th-bg-custom">Pago</th>
                                    <th class="th-bg-custom">Estado</th>
                                    <th class="th-bg-custom">Empleado</th>
                                    <th class="th-bg-custom">Nómina</th>
                                    <th class="th-bg-custom">Acciones</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td class="text-center align-middle">@item.Semanal</td>
                                        <td class="text-center align-middle">@item.Mensual</td>
                                        <td class="text-center align-middle">@item.Diario</td>
                                        <td class="text-center align-middle">@item.Hora</td>
                                        <td class="text-center align-middle">@item.CantidadHoras</td>
                                        <td class="text-center align-middle">@item.HorasExtra</td>
                                        <td class="text-center align-middle">@item.CantidadHorasExtra</td>
                                        <td class="text-center align-middle">@item.Ccss</td>
                                        <td class="text-center align-middle">@item.Vales</td>
                                        <td class="text-center align-middle">@item.Pago</td>
                                        <td class="text-center align-middle">
                                            @(item.Estado ? "Activo" : "Inactivo")
                                        </td>
                                        <td class="text-center align-middle">@item.Empleado.Nombre</td>
                                        <td class="text-center align-middle">@item.Nomina.FechaCreacion?.ToString("dd/MM/yyyy")</td>
                                        <td class="text-center align-middle">
                                            <a class="btn btn-modify" asp-action="Edit" asp-route-id="@item.DetalleId">Modificar</a>
                                           
                                            @if (item.Estado)
                                            {
                                                <a class="btn btn-inactive" href="@Url.Action("Delete", "DetallesNominas", new { id = item.DetalleId })">Inactivar</a>
                                            }
                                            else
                                            {
                                                <a class="btn btn-active-custom" href="@Url.Action("Activate", "DetallesNominas", new { id = item.DetalleId })">Activar</a>
                                            }
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="~/estilos/js/jquery-1.11.0.min.js"></script>