@using DAL
@inject SignInManager<ApplicationUser> SignInManager
@{
    var hasExternalLogins = (await SignInManager.GetExternalAuthenticationSchemesAsync()).Any();
}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">

<ul class="nav nav-pills flex-column">
    <li class="nav-item">
        <a class="nav-link d-flex align-items-center @ManageNavPages.IndexNavClass(ViewContext)" id="profile" asp-page="./Index">
            <i class="bi bi-person me-2"></i> Perfil
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link d-flex align-items-center @ManageNavPages.EmailNavClass(ViewContext)" id="email" asp-page="./Email">
            <i class="bi bi-envelope me-2"></i> Correo Electrónico
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link d-flex align-items-center @ManageNavPages.ChangePasswordNavClass(ViewContext)" id="change-password" asp-page="./ChangePassword">
            <i class="bi bi-lock me-2"></i> Contraseña
        </a>
    </li>
    @if (hasExternalLogins)
    {
        <li id="external-logins" class="nav-item">
            <a id="external-login" class="nav-link d-flex align-items-center @ManageNavPages.ExternalLoginsNavClass(ViewContext)" asp-page="./ExternalLogins">
                <i class="bi bi-box-arrow-in-right me-2"></i> Inicios de Sesión Externos
            </a>
        </li>
    }
    <li class="nav-item">
        <a class="nav-link d-flex align-items-center @ManageNavPages.TwoFactorAuthenticationNavClass(ViewContext)" id="two-factor" asp-page="./TwoFactorAuthentication">
            <i class="bi bi-shield-check me-2"></i> Autenticación de Dos Factores
        </a>
    </li>
</ul>

<style>
    .nav-pills .nav-link {
        border-radius: 0.5rem;
        padding: 1rem;
        transition: background-color 0.3s, color 0.3s;
        color: #4f5d75; /* Color de texto por defecto */
    }

        .nav-pills .nav-link.active {
            background-color: #4f5d75;
            color: #ffffff;
        }

        .nav-pills .nav-link:hover {
            background-color: #b7bfc7; 
            color: #4f5d75; 
        }

    .nav-item {
        margin-bottom: 0.5rem;
    }

    .nav-link i {
        font-size: 1.25rem;
    }

    .d-flex {
        display: flex;
        align-items: center;
    }

    .me-2 {
        margin-right: 0.5rem;
    }
</style>