@model IEnumerable<ProyectoTodoFrenosWeb.ViewModels.OrderDetailViewModel>

@{
    ViewData["Title"] = "Detalles del Pedido";
}

<div class="container mt-5">
    <h2 class="text-center mb-4">Detalles del Pedido</h2>

    @if (Model != null && Model.Any())
    {
        <table class="table table-striped table-bordered">
            <thead class="thead-dark">
                <tr>
                    <th class="th-bg-custom">ID Detalle del Pedido</th>
                    <th class="th-bg-custom">ID del Pedido</th>
                    <th class="th-bg-custom">ID del Producto</th>
                    <th class="th-bg-custom">Nombre del Producto</th>
                    <th class="th-bg-custom">Precio</th>
                    <th class="th-bg-custom">Precio con IVA</th>
                    <th class="th-bg-custom">Cantidad</th>
                    <th class="th-bg-custom">Subtotal</th>
                    <th class="th-bg-custom">Total</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@item.OrderDetailId</td>
                        <td>@item.OrderId</td>
                        <td>@item.ProductId</td>
                        <td>@item.ProductName</td>
                        <td>₡@item.Price?.ToString("N", new System.Globalization.CultureInfo("es-CR"))</td>
                        <td>₡@item.PriceWithTax?.ToString("N", new System.Globalization.CultureInfo("es-CR"))</td>
                        <td>@item.Quantity</td>
                        <td>₡@item.Subtotal?.ToString("N", new System.Globalization.CultureInfo("es-CR"))</td>
                        <td>₡@item.Total?.ToString("N", new System.Globalization.CultureInfo("es-CR"))</td>
                    </tr>

                }
            </tbody>
        </table>
    }
    else
    {
        <div class="alert alert-warning text-center" role="alert">
            No se encontraron detalles para este pedido.
        </div>
    }
</div>