@model DAL.Models.PlanillaEmpleado
@{
    ViewData["Title"] = "Crear Planilla";
}
<div class="container mt-4">
    <h2 class="mb-4">Crear Nómina</h2>

    <form asp-action="Create" method="post">
        @Html.HiddenFor(model => model.NominaId)
        @Html.HiddenFor(model => model.SalarioBruto)
        @Html.HiddenFor(model => model.SEM)
        @Html.HiddenFor(model => model.IVM)
        @Html.HiddenFor(model => model.LPT)
        @Html.HiddenFor(model => model.ImpuestoRenta)
        @Html.HiddenFor(model => model.TotalDeducciones)
        @Html.HiddenFor(model => model.SalarioNetoFinal)
        <div class="card">
            <div class="card-header bg-primary text-white">
                <h5 class="card-title">Detalles de Nómina</h5>
            </div>
            <div class="card-body">
                <div class="row">                   
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="FechaPago">Fecha a pagar</label>
                            <input asp-for="FechaPago" class="form-control" type="date" />
                            <span asp-validation-for="FechaPago" class="text-danger"></span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-footer text-end">
                <button type="submit" class="btn btn-primary">Crear Nómina</button>
            </div>
        </div>
    </form>
</div>
