@model DAL.Models.PlanillaEmpleado

@{
    ViewData["Title"] = "Crear Planilla";
}

<div class="container mt-5">
    <h2 class="text-center mb-4">Crear Planilla</h2>
    <hr />

    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card shadow-sm">
                <div class="card-body">
                    <form asp-action="Create" method="post">
                        @Html.HiddenFor(model => model.NominaId)
                        @Html.HiddenFor(model => model.SalarioBruto)
                        @Html.HiddenFor(model => model.SEM)
                        @Html.HiddenFor(model => model.IVM)
                        @Html.HiddenFor(model => model.LPT)
                        @Html.HiddenFor(model => model.ImpuestoRenta)
                        @Html.HiddenFor(model => model.TotalDeducciones)
                        @Html.HiddenFor(model => model.SalarioNetoFinal)

                        @if (TempData["SuccessMessage"] != null)
                        {
                            <div class="alert alert-success alert-dismissible fade show" role="alert">
                                @TempData["SuccessMessage"]
                                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                            </div>
                        }
                        @if (TempData["ErrorMessage"] != null)
                        {
                            <div class="alert alert-danger alert-dismissible fade show" role="alert">
                                @TempData["ErrorMessage"]
                                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                            </div>
                        }

                        <div class="form-group mb-3">
                            <label asp-for="FechaPago" class="form-label">Fecha a pagar</label>
                            <input asp-for="FechaPago" class="form-control" type="date" />
                            <span asp-validation-for="FechaPago" class="text-danger"></span>
                        </div>

                        <div class="text-center">
                            <input type="submit" value="Crear Nómina" class="btn btn-agree w-100" />
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <br />
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
