@model DAL.Models.Nomina

@{
    ViewData["Title"] = "Detalles de Nómina";
}

<div class="container mt-5">
    <h2 class="text-center mb-4">Detalles de Nómina</h2>
    <hr />

    <div class="row">
        <div class="col-md-8 offset-md-2">
            <div class="card">
                <div class="card-body">
                    <dl class="row">
                        <dt class="col-sm-4">
                            @Html.DisplayNameFor(model => model.FechaInicio)
                        </dt>
                        <dd class="col-sm-8">
                            @Html.DisplayFor(model => model.FechaInicio)
                        </dd>

                        <dt class="col-sm-4">
                            @Html.DisplayNameFor(model => model.FechaFinaliza)
                        </dt>
                        <dd class="col-sm-8">
                            @Html.DisplayFor(model => model.FechaFinaliza)
                        </dd>

                        <dt class="col-sm-4">
                            @Html.DisplayNameFor(model => model.FechaCreacion)
                        </dt>
                        <dd class="col-sm-8">
                            @Html.DisplayFor(model => model.FechaCreacion)
                        </dd>

                        <dt class="col-sm-4">
                            @Html.DisplayNameFor(model => model.TotalNomina)
                        </dt>
                        <dd class="col-sm-8">
                            @Html.DisplayFor(model => model.TotalNomina)
                        </dd>
                    </dl>
                </div>
            </div>
        </div>
    </div>
    <br />
</div>