@model IEnumerable<DAL.Models.Nomina>

@{
    ViewData["Title"] = "Index";
    var successMessage = TempData["MenasajeExito"] as string;
    var errorMessage = TempData["Error"] as string;
}

<div class="container mt-5">
    <h2 style="text-align:center;">Lista de Nóminas</h2>

    @if (!string.IsNullOrEmpty(successMessage))
    {
        <div class="alert alert-success alert-dismissible fade show" role="alert">
            @successMessage
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    }

    @if (!string.IsNullOrEmpty(errorMessage))
    {
        <div class="alert alert-danger alert-dismissible fade show" role="alert">
            @errorMessage
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    }

    <div class="mb-2">
        <a asp-action="Create" class="btn btn-agree mb-1">
            Nueva Nómina
            <i class="ms-1 fa-solid fa-file-lines"></i>
        </a>
        <a asp-action="CalcularTotal" class="btn btn-inactive mb-1">
            Calcular Total
        </a>
    </div>

    <div class="container-border-custom mb-2">
        <div class="table-responsive">
            <table id="myDataTable" class="table table-bordered dataTable" style="width: 100%;">
                <thead>
                    <tr>
                        <th class="th-bg-custom">@Html.DisplayNameFor(model => model.FechaCreacion)</th>
                        <th class="th-bg-custom">@Html.DisplayNameFor(model => model.FechaInicio)</th>
                        <th class="th-bg-custom">@Html.DisplayNameFor(model => model.FechaFinaliza)</th>
                        <th class="th-bg-custom">@Html.DisplayNameFor(model => model.TotalNomina)</th>
                        <th class="th-bg-custom">Estado</th>
                        <th class="th-bg-custom">Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td class="text-center align-middle">
                                @Html.DisplayFor(modelItem => item.FechaCreacion)
                            </td>
                            <td class="text-center align-middle">
                                @Html.DisplayFor(modelItem => item.FechaInicio)
                            </td>
                            <td class="text-center align-middle">
                                @Html.DisplayFor(modelItem => item.FechaFinaliza)
                            </td>
                            
                            <td class="text-center align-middle">
                                @Html.DisplayFor(modelItem => item.TotalNomina)
                            </td>
                            <td class="text-center align-middle">
                                @(item.Estado ? "Activo" : "Inactivo")
                            </td>
                            <td class="text-center align-middle">
                                <div class="d-flex flex-column align-items-center">
                                    <a class="btn btn-modify mb-2" href="@Url.Action("Edit", new { id = item.NominaId })">Modificar</a>
                                    <a class="btn btn-details mb-2" href="@Url.Action("Details", new { id = item.NominaId })">Detalles</a>

                                    @if (item.Estado)
                                    {
                                        <a class="btn btn-inactive" href="@Url.Action("Delete", "Nominas", new { id = item.NominaId })">Inactivar</a>
                                    }
                                    else
                                    {
                                        <a class="btn btn-active-custom" href="@Url.Action("Activate", "Nominas", new { id = item.NominaId })">Activar</a>
                                    }
                                </div>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
<script src="~/estilos/js/jquery-3.6.0.min.js"></script>
<script src="~/estilos/js/jquery.dataTables.min.js"></script>
<script src="~/estilos/js/dataTables.bootstrap5.min.js"></script>
<script src="~/estilos/js/jquery-1.11.0.min.js"></script>
<script>
    $(document).ready(function () {
        $('#myDataTable').DataTable({
            "language": {
                "url": "https://cdn.datatables.net/plug-ins/1.10.24/i18n/Spanish.json"
            },
            "info": false,
            "order": [[2, "desc"]], // Ordenar por la columna de "Fecha de Creación" en orden descendente
            "columnDefs": [
                {
                    "targets": [0, 1, 2], // Las columnas de fecha/hora
                    "type": "date-eu" // O puedes usar "datetime" si el formato incluye horas
                }
            ]
        });
    });
</script>