@model DAL.Models.Employee

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Empleado</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Cedula)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Cedula)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.NombreEmpleado)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.NombreEmpleado)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ApellidoEmpleado)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ApellidoEmpleado)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.FechaContrato)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.FechaContrato)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.SalarioBase)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.SalarioBase)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PlusesSalariales)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PlusesSalariales)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Puesto)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Puesto)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.FechaNacimiento)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.FechaNacimiento)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Direccion)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Direccion)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.EstadoCivil)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.EstadoCivil)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Genero)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Genero)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ContactoEmergencia)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ContactoEmergencia)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.EstadoEmpleado)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.EstadoEmpleado)
        </dd>
    </dl>
</div>

