@model DAL.Models.Appointment

@{
    ViewData["Title"] = "Details";
}

<h2 class="mt-3 mb-3" style="text-align:center;">Detalles Citas</h2>

<div>
    <h4>Appointment</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UserId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UserId)
        </dd>
        <!--
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AppointDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AppointDate)
        </dd>-->
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AppointCreationDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AppointCreationDate)
        </dd>
        <!--
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AppointModifyDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AppointModifyDate)
        </dd>-->
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Reason)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Reason)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AppointState)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AppointState)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Vehicle)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Vehicle.UserId)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.AppointId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
