@model IEnumerable<DAL.Models.Appointment>

@{
    ViewData["Title"] = "Index";
    var successMessage = TempData["SuccessMessage"] as string;
    var errorMessage = TempData["ErrorMessage"] as string;

}

<style>
    .btn-action {
        display: inline-block;
        padding: 0.375rem 0.75rem;
        font-size: 0.875rem;
        font-weight: 400;
        text-align: center;
        text-decoration: none;
        vertical-align: middle;
        cursor: pointer;
        border: 1px solid transparent;
        border-radius: 0.25rem;
        transition: all 0.15s ease-in-out;
        width: 100%;
        max-width: 120px;
        margin: 0.1rem;
    }
</style>

<div class="container mt-5">
    <h2 style="text-align:center;">Papelera de Citas</h2>

    @if (!string.IsNullOrEmpty(successMessage))
    {
        <div class="alert alert-success alert-dismissible fade show" role="alert">
            @successMessage
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    }

    @if (!string.IsNullOrEmpty(errorMessage))
    {
        <div class="alert alert-danger alert-dismissible fade show" role="alert">
            @errorMessage
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    }

    <div class="container-border-custom mb-2">
        <div class="table-responsive">
            <div id="dataTable_wrapper" class="dataTables_wrapper">
                <div class="col-sm-12">
                    <div class="col-sm-12">
                        <table id="myDataTable" class="table table-bordered dataTable" style="width: 100%;">
                            <thead>
                                <tr>
                                    <th class="th-bg-custom">Email</th>
                                    <th class="th-bg-custom">Fecha y Hora de Cita</th>
                                    <th class="th-bg-custom">Estado</th>
                                    <th class="th-bg-custom">Acciones</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var appointment in Model)
                                {
                                    <tr>
                                        <td class="text-center align-middle">
                                            @if (appointment.User != null)
                                            {
                                                @appointment.User.Email
                                            }
                                            else
                                            {
                                                <span>No disponible</span>
                                            }
                                        </td>
                                        <td class="text-center align-middle">
                                            @appointment.AppointCreationDate?.ToString("dd/MM/yyyy HH:mm")
                                        </td>

                                        <td class="text-center align-middle">
                                            @{
                                                string estado = appointment.AppointState == 1 ? "Pendiente" :
                                                appointment.AppointState == 2 ? "Aceptado" :
                                                appointment.AppointState == 0 ? "Rechazado" :
                                                "Sin estado";
                                            }
                                            @estado
                                        </td>
                                        <td class="text-center align-middle">
                                            <a class="btn btn-details btn-action" asp-action="Details" asp-route-id="@appointment.AppointId">Detalles</a>
                                            <form id="acceptForm-@appointment.AppointId" asp-action="ReturnAppointment" method="post">
                                                <input type="hidden" name="id" value="@appointment.AppointId" />
                                                <button type="submit" class="btn btn-agree btn-action" data-id="@appointment.AppointId">
                                                    Recuperar
                                                </button>
                                            </form>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="~/estilos/js/jquery-1.11.0.min.js"></script>
<script>
    $(document).ready(function () {
        $('#myDataTable').DataTable({
            "language": {
                "url": "https://cdn.datatables.net/plug-ins/1.10.24/i18n/Spanish.json"
            },
            "info": false,
            "order": [[1, "asc"]],
            "columnDefs": [
                { "type": "datetime", "targets": 1 }
            ]
        });
    });
</script>
