@model List<UsuarioRolViewModel>

@{
    var roleId = ViewBag.roleId;
}

<div class="container mt-5">
    <form method="post">
        <div class="card shadow-sm">
            <div class="card-header th-bg-custom text-black">
                <h2 class="mb-0">Agregar o borrar usuarios a este rol</h2>
            </div>
            <div class="card-body">
                @for (int i = 0; i < Model.Count; i++)
                {
                    <div class="form-check mb-2">
                        <input type="hidden" asp-for="@Model[i].UsuarioId" />
                        <input type="hidden" asp-for="@Model[i].UsuarioName" />
                        <input asp-for="@Model[i].EstaSeleccionado" class="form-check-input" id="userCheckBox-@i" />
                        <label class="form-check-label" asp-for="@Model[i].EstaSeleccionado" for="userCheckBox-@i">@Model[i].UsuarioName</label>
                    </div>
                }
            </div>
            <div class="card-footer d-flex justify-content-end">
                <button type="submit" class="btn btn-modify me-2">Actualizar</button>
                <a asp-action="EditarRol" asp-route-id="@roleId" class="btn btn-delete">Cancelar</a>
            </div>
        </div>
    </form>
</div>